* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #06283d;
  font-family: 'Oswald', sans-serif;
}

.App {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  padding: 2em 4em;
  overflow: hidden;
  border-radius: 18px;
  transition: 0.6s ease-out;
}

.WeatherWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WeatherCard {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WeatherForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-field {
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Noto Sans', sans-serif;
}

.temperature {
  position: relative;
  color: white;
  padding-top: 10px;
  font-weight: bold;
  font-size: 42px;
  font-family: 'Noto Sans', sans-serif;
}

.temperature-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.weather-wind {
  display: flex;
  text-align: center;
  padding: 20px 20px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.weather-water {
  display: flex;
  text-align: center;
  padding: 20px 20px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.wind-icon {
  font-size: 2.3em;
  padding: 5px 10px;
}

.water-icon {
  padding: 5px 10px;
  font-size: 2.3em;
}

.input-icons {
  display: flex;
  color: white;
  transition: 0.2s;
  font-size: 1.7em;
}

.search-icon {
  padding-left: 25px;
}

.location-icon {
  padding-right: 25px;
}
